<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>My First Dashboard</title>
  <link rel="stylesheet" href="static/css/main.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css" />

  <script src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.js"></script>

  <link rel="stylesheet" href="static/css/main.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.4/d3.layout.cloud.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


</head>
<body>

  <div class="topnav">
    <a id="head">DASHBOARD</a>
  </div>


  <div class="ui fluid container">
    <div class="row" style="padding-left: 525px;"> 

      <div class="drop_name">Product ID : </div>
      <div class="drop">
        <select onchange="myFunction()" name="gender" class="ui dropdown" id="select">
          {% for ls in prod_list%}
          <option value={{ls}}>{{ls}}</option>
          {% endfor %}
        </select>
        <script> $('#select').dropdown(); </script>
      </div>

      <div class="drop_name">Product Feature : </div>
      <div class="drop">
        <select onchange="myFunction()" name="gender" class="ui dropdown" id="select1">
          {% for list in my_list%}
          <option value={{list}}>{{list}}</option>
          {% endfor %}
        </select>
        <script> $('#select1').dropdown(); </script>
      </div>

    </div>   
  </div>


  <div class="ui fluid container" >
    <div class="row">

      <div class="boxes">
        <div class="graphs_header">
          <h3 class="plothead">Word Cloud based on Reveiws</h3>
        </div>
        <div class="row3" id="bargraph1">
        </div>
      </div>

      <div class="boxes">
        <div class="graphs_header">
          <h3 class="plothead">Top 10 tags in Reviews</h3>
        </div>
        <div class="row3" id="bargraph">
        </div>
      </div>

      <div class="boxes1">
        <div class="graphs_header1">
          <h3 class="plothead">Review Count</h3>
        </div>
        <div class= "count">

          <div class="box1">
            <div class="ui red link card">
              <div class="content" style="height: 70px;">
                <div class="center aligned header" id="product">{{prod_list[0]}}</div>
                <div class="center aligned description" id="prod_count">
                  {{prod_count}}
                </div>
              </div>
              <div class="extra content" style="height: 30px; padding: 0;">
                <div class="center aligned author" style="height: 30px; padding-top: 3px;">
                  <img class="ui center aligned header" > Product Wise
                </div>
              </div>
            </div>
          </div>

          <div class="box1">
            <div class="ui green link card">
              <div class="content" style="height: 70px;">
                <div class="center aligned header" id="feature">{{my_list[0]}}</div>
                <div class="center aligned description" id="feat_count">
                  {{feat_count}}
                </div>
              </div>
              <div class="extra content" style="height: 30px; padding: 0;">
                <div class="center aligned author" style="height: 30px; padding-top: 3px;">
                  <img class="ui center aligned  header"> Feature Wise
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <script>
    var data = { word_freqs:{{word_freqs|safe}}, max_freq:{{max_freq|safe}}}
    console.log(data)
    var word_freqs = data["word_freqs"];
    var max_freq = data["max_freq"];
  </script>

  <script>
    var graphs = {{plot | safe}};
  </script>

  <script type="text/javascript" src="/static/js/dash.js"></script>

</body>
</html>
